/* Contenedor principal del catálogo */
.catalogContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
  
}

.catalogTituloContainer h1 {
  font-size: 2.5rem;
  color: black;
  margin-bottom: 20px;
  text-align: center;
}
.catalogTituloContainer p {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 20px;
  text-align: center;
}

/* Tarjetas de productos y servicios */
.catalogCard {
  border: 1px solid #ddd;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}
.catalogCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Contenido textual */
.catalogCardText {
  padding: 15px;
  text-align: center;
}
.catalogCardText h2 {
  font-size: 1.5rem;
  color: #2d572c;
  margin-bottom: 10px;
  font-family: 'Noto Sans', sans-serif;
}
.catalogCardText p {
  font-size: 1rem;
  color: #2d572c;
  line-height: 1.5;
  margin-bottom: 10px;
  font-family: 'Noto Sans', sans-serif;
}
.catalogCardText strong {
  color: black;
}

/* Imagen */
.catalogCardImg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  padding: 10px;
}
.catalogCardImg img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s;
}
.catalogCard:hover img {
  transform: scale(1.05);
}

/* Estilo responsivo */
@media (max-width: 768px) {
  .catalogCardText h2 {
    font-size: 1.3rem;
  }
  .catalogCardText p {
    font-size: 0.9rem;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .catalogTituloContainer h1 {
    font-size: 2rem;
  }
  .catalogTituloContainer p {
    font-size: 1.3rem;
  }
  .catalogCard {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  }
  .catalogCardText h2 {
    font-size: 1.4rem;
  }
  .catalogCardText p {
    font-size: 0.95rem;
  }
}

/* Estilo para pantallas menores a 768px */
@media (max-width: 768px) {
  .catalogTituloContainer h1 {
    font-size: 1.8rem;
  }
  .catalogTituloContainer p {
    font-size: 1.2rem;
  }
  .catalogCard {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .catalogCardText h2 {
    font-size: 1.3rem;
  }
  .catalogCardText p {
    font-size: 0.9rem;
  }
}